# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/

# Pytest
.pytest_cache/

# OS
.DS_Store

.env

# Archive folder - not needed for this project
_archive/*

# Output folder - processed files
output/

# Input folder - unprocessed files
data/*

start-guide.txt

unprocessed

test-arg